/*////////// glopal style  ////////////*/

@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    /* scrollbar-color:var(--backgroundColor) var(--secondarybackgroundColor); */
    scrollbar-width: auto; 

}

h1,h2,h3,h4,h5,h6{
    color: var(--MainColor);
    margin: 0;
}
p{
    color: var(--ParagraphColor);
}
 .container{
  /* max-width:1200px;
  margin: auto;
  padding: 10px; */
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
 }

 :root {
    --MainColor: #1783cc;
     --RedColor: #58151c;
     --HoverColor: #3f0f14;
     --Darkcolor: #222831;
     --background: #3c4657;
     --LightText: 	#B4C5D3;
     --white: #d1d5d6;
     --ParagraphColor: #d1d5d6;
     --main-font: "Tajawal", serif;
  }

/*////////////// nav-bar-style  ////////////*/

.nav_bar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    .nav-body{
        background-color: var(--background);
        padding: 15px 10px;
        margin: 30px;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            display: flex;
            align-items: center;
            gap: 10px;
            .image{
                margin-left: 25px;
                width: 14%;
            }
            img{
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }
        }
        .menue{
            padding-right: 6%;
            display: flex;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 45px;
                margin: 0;
                li{
                    list-style: none;
                    padding: 0;
                    a{
                        text-decoration: none;
                        color: var(--LightText);
                        font-size: 18px;
                        position: relative;
                    }::after{
                        position: absolute;
                        bottom: -2px;
                        left: 1px;
                        content: "";
                        width: 0%;
                        height: 2px;
                        background-color: var(--MainColor);
                        transition: 0.8s;

                    }
                    a:hover::after{
                        width: 100%;
                    }
                    a.active{
                        border-bottom: solid 2px var(--MainColor);
                        color: var(--secondaryColor);
                    }
                    i{
                        color: var(--MainColor);
                        font-size: 25px;
                        margin-left: 15px;
                        cursor: pointer;
                        width: 20px;
                    }

                }
            }
        }
    }

}

/* Hero section  */
.Hero{
    height: 100vh;
    .background-image{
        background-image: url("../assets/images/background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        height: inherit;
        width: 100%;
        z-index: -1;
        filter: brightness(0.5);
    }

    .hero-content{
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;

        .hero-body{
            display: flex;
            flex-direction: column;
            gap: 30px;

            .main-content{
                display: flex;
                flex-direction: column;
                gap: 20px;

                h1{
                    font-size: 3.5rem;
                }
                p{
                    font-size: 22px;
                    width: 70%;
                }
            }
            .buton{
                margin-left: 15px;
                button{
                    text-decoration: none;
                    color: white;
                    background-color: var(--RedColor);
                    border-radius: 18px;
                    padding: 10px 27px;
                    border: none;
                    font-size: 18px;
                    transition: 0.4s all;
                }:hover{
                    cursor: pointer;
                    background-color: var(--HoverColor);
                }
            }
        }
    }
}

/* products section  */
.products{
    .products-body{
        padding: 90px 0px;
        .products-header{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 0px;
            h1{
                font-size: 40px;
                font-weight: 800;
            }
        }
        .products-content{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px 0px;
            .product-card{
                background-color: var(--Darkcolor);
                border-radius: 25px;
                box-shadow: 5px 0px 20px 6px #bababb;
                width: 32%;
                height: 450px;
                margin-top: 10px;
                .product{
                    position: relative;
                    border: 0;
                    z-index: 0;
                    transition: .5s;
                    height: inherit;
                    overflow: hidden;
                    cursor: pointer;
                    
                    .image{
                        background-color: #f1f2f3;
                        border-radius: 20px 20px 50px 50px;
                        height: 55%;
                        overflow: hidden;
                        transition: .5s;
                        position: relative;
                        padding: 15px 0px;
    
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            padding: 15px 0px;
                            transition: 0.3s all;
                        }:hover{
                            transform: scale(1.11);
                        }
                    }
                    .product-body{
                        height: 45%;
                        padding: 15px 16px;
                        padding-top: 10%;
                        display: flex;
                        flex-direction: column;
                        gap: 5%;
                        .information{
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            .titile{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
        
                                h4{
                                    margin: 4px 0px;
                                    color: var(--LightText);
                                    font-size: 24px;
                                }
                            }
                            .product-price{
                                display: flex;
                                align-items: center;
                                h2{
                                    font-size: 1.2rem;
                                }
                            }
                        }
                        .product-action{
                            margin-top: 10px;
                            display: flex;
                            align-items: center;
    
                            .main-btn{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: none;
                                padding: 10px 20px;
                                color: white;
                                font-size: 16px;
                                background-color: var(--RedColor);
                                border-radius: 1rem;
                                gap: 15px;
                                transition: 0.3s;
                            }
                            .main-btn:hover{
                                cursor: pointer;
                                background-color: var(--HoverColor);
                                transform: translateY(-3px);
                            }
                        }
                    }
                }
                /* .product:hover{
                    max-height: 370px;
                    background-color: rgb(153, 153, 153);
                    z-index: 999;
                    transform: scale(1.04);
                    padding: 8px 6px;
                    border-radius: 8px;
                    .image{
                        .favorite{
                            display: block;
                        }
                    }
                } */
            }
        }
        .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 38px 0px;
            margin-top: 10px;
            a{
                text-decoration: none;
                border: none;
                outline: none;
            }
            button{
                text-decoration: none;
                color: white;
                background-color: var(--MainColor);
                border-radius: 14px;
                padding: 16px 51px;
                border: none;
                font-size: 28px;
                transition: 0.4s all;
            }
            button:hover{
                cursor: pointer;
                /* background-color: var(--HoverColor); */
            }
        }
    }
}

/*//////////// footer  ////////////*/

footer{
    section{
    position: relative;
    .footer-sec{
        background-color: var(--Darkcolor);
        padding: 70px 0px;
        overflow: hidden;
        .footer-body{
            .main-content{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: start;
                padding: 0px 30px;
                padding-bottom: 40px;
                .logo{
                    width: 30%;
                    .head{
                        display: flex;
                        align-items: center;
                        gap: 25px;
                        margin-bottom: 20px;
                        .name{
                            h3{
                                font-size: 35px;
                                font-weight: 800;

                            }
                            span{
                                color: var(--yallow);
                            }
                        }
                        .image{
                            width: 15%;
                            position: relative;
                            img{
                                width: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                                cursor: pointer;
                            }
                            &::after{
                                content: "";
                                width: 5px;
                                left: 120%;
                                border-radius: 10px;
                                height: 100%;
                                position: absolute;
                                background-color: var(--RedColor);
                            }
                        }

                    }
                    .btn{
                        padding: 10px 15px;
                        button{
                            border: none;
                            outline: none;
                            background-color: var(--buttonColor);
                            color: var(--LightText);
                            padding: 10px 12px;
                            border-radius: 8px;
                            transition: 0.3s;
                            font-size: 14px;
                            &:hover{
                                background-color: var(--buttonHover);
                            }
                            &:active{
                                transform: scale(0.9);
                            }
                            i{
                                font-size: 12px;
                                padding: 0px 4px;
                            }
                        }
                    }
                }
                .links{
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    padding-left: 5%;
                    h4{
                        font-size: 1.1rem;
                        font-weight: 500;
                        padding-bottom: 5px;
                        align-content: center;
                        color: var(--background);
                        margin-bottom: 20px;
                        width: fit-content;
                        text-transform: uppercase;
                        border-bottom: 2px solid var(--background);
                    }
                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        margin: 0;
                        padding: 0;
                        li{
                            list-style: none;
                            padding: 0;
                            a{
                                text-decoration: none;
                                color: var(--LightText);
                                font-size: 15px;
                                position: relative;
                            }::after{
                                position: absolute;
                                bottom: -2px;
                                left: 1px;
                                content: "";
                                width: 0%;
                                height: 2px;
                                background-color: var(--MainColor);
                                transition: 0.8s;
        
                            }
                            a:hover::after{
                                width: 100%;
                            }
                            a.active{
                                border-bottom: solid 2px var(--MainColor);
                                color: var(--secondaryColor);
                            }
        
                        }
                    }

                }
                .contact{
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    h4{
                        font-size: 1.1rem;
                        font-weight: 500;
                        padding-bottom: 5px;
                        align-content: center;
                        color: var(--background);
                        margin-bottom: 20px;
                        width: fit-content;
                        text-transform: uppercase;
                        border-bottom: 2px solid var(--background);
                    }
                    .contact-box{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        margin-bottom: 15px;
                        a{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            text-decoration: none;
                            color: var(--LightText);
                            span{
                                color: var(--LightText);
                                text-decoration: underline;
                                font-size: 17px;
                            }
                        }
                        i{
                            font-size: 20px;
                            padding: 8px;
                            color: var(--MainColor);
                        }
                        p{
                            margin: 0;
                            color: var(--LightText);
                            font-size: 14px;
                        }
                    }
                    .icons{
                        a{
                            text-decoration: none;
                            font-size: 25px;
                            padding: 10px 8px;
                            color: var(--LightText);
                            i{
                                border-radius: 50%;
                                transition: 0.4s;
                                &:hover{
                                    transform: translateY(-5px);
                                    box-shadow: 0px 11px 13px 0px rgba(0, 0, 0, 0.6);
                                    color: var(--buttonColor);
                                }
                            }
                        }
                    }

                }
            }
            .copyrignt{
                display: flex;
                justify-content: center;
                padding: 35px 0px;
                position: relative;
                p{
                    margin: 0;
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 85%;
                    height: 1px;
                    top: 13%;
                    background-color: var(--MainColor);
                }
            }
        }
    }
}
}

/*////////////// media Query  ////////////////////*/

@media (min-width: 992px){
    .container{
        max-width: 83rem;
    }
}

@media (min-width: 992px) and (max-width : 1340px){
    .container{
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width : 991px){
    .container{
        max-width: 720px;
    }
}

@media (min-width: 576px) and (max-width : 767px){
    .container{
        max-width: 540px;
    }

}

/* for mobile screen */
@media (min-width : 280px) and (max-width : 767px){   

    /* Nav bar  */
   .nav_bar{
    bottom: 0%;
    top: auto;
    .nav-body{
        margin: 40px 0px;
        border-radius: 18px;
        padding: 12px 0px;
        .logo{
            .image{
                width: 40px;
                margin-left: 15px;
            }
        }
        .menue{
            ul{
                gap: 10px;
                li{
                    a{
                        font-size: 14px;
                    }
                    i{
                        margin-top: 5px;
                        font-size: 20px;
                        margin-left: 6px;
                    }
                }
            }

        }
    }
   }

   /* Footer  */
    .footer-sec{
    padding-bottom: 60px;
    .footer-body{
        .main-content{
            padding: 0px 10px;
            gap: 2.5rem;
            .logo{
                width: 100% !important;
                .head{
                    justify-content: center;
                    margin: 0;
                    .image{
                        width: 12%;
                    }
                    .name{
                        h3{
                            font-size: 25px;
                        }
                    }
                }
            }
            .links{
                width: 100% !important;
                padding-left: 0;
                align-items: center;
                h4{
                    padding-bottom: 2px;
                    margin-bottom: 20px;
                }
                ul{
                    gap: 8px;
                }
            }
            .contact{
                width: 100% !important;
                align-items: center;
                h4{
                    padding-bottom: 2px;
                    margin-bottom: 20px;
                }
                .contact-box{
                    margin-bottom: 5px;
                }
            }
            .icons{
                padding: 20px 0px;
                a{
                    i{
                        font-size: 29px;
                    }
                }
            }
        }
        .copyrignt{
            margin-bottom: 40px;
            p{
                text-align: center;
                font-size: 15.5px;
            }
            &::before{
                top: 7%;
            }
        }
    }
}
}
